.h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  background: #404040;
}

.invisible {
  display: none;
}

.board-container {
  width: 30rem;
  height: 30rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  font-family: "Manalva";
}
.mid {
  border-bottom: 5px solid #fff;
}

.bottom {
  border-right: 5px solid #fff;
}
.reg {
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
}
